<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="userService" class="com.prger.service.impl.UserServiceImpl"/>-->
<!--    <bean id="userService" class="com.prger.proxy.UserServiceProxy">-->
<!--        <property name="target">-->
<!--            <bean class="com.prger.service.impl.UserServiceImpl"/>-->
<!--        </property>-->
<!--    </bean>-->

    <bean id="skillService" class="com.prger.proxy.SkillServiceProxy">
        <property name="target">
            <bean class="com.prger.service.SkillService"/>
        </property>
    </bean>
</beans>