<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.prger.DateConverter">
                    <property name="format" value="yyyy-MM-dd"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="person" class="com.prger.domain.Person">
        <property name="birthday" value="2021-9-22"/>
    </bean>

</beans>